<!DOCTYPE html>
<html>
<head>
<title>{{registration_no}}</title>
<link rel="icon" href="favicon.ico" type="image/x-icon" />
<meta name="theme-color" content="#4a85f9" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://cdn.rawgit.com/caldwell/renderjson/master/renderjson.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
.modal-body {
    white-space: pre-wrap;
}
</style>

<table class="table table-responsive">
    <thead class="thead-dark">
    <tr>
        <th scope="col">Registartion Number</th>
        <th scope="col">Flight Number</th>
        <th scope="col">Departure Airport</th>
        <th scope="col">Destination Airport</th>
        <th scope="col">First Seen</th>
        <th scope="col">Last Seen</th>
        <th scope="col">Gate in time</th>
        <th scope="col">Gate out time</th>
        <th scope="col">Wheels on time</th>
        <th scope="col">Wheels off time</th>
        <th scope="col">Number of received messages</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{registration_no}}</td>
        <td>{{flight_no}}</td>
        <td>{{departure_airport}}</td>
        <td>{{destination_airport}}</td>
        <td>{{first_seen}}</td>
        <td>{{last_seen}}</td>
        <td>{{gin}}</td>
        <td>{{gout}}</td>
        <td>{{won}}</td>
        <td>{{woff}}</td>
        <td>{{msg_no}}</td>
    </tr>
    </tbody>
</table>

<div class="container mt-4">
    <div class="row">
        <div class="col-auto mb-3">
            {% for msg in messages %}
            <div class="card border-primary mb-3" style="width: 18rem;">
                <div class="card-body">
                <h5 class="card-title">{{msg.get_timestamp()}}</h5>
                <p class="card-text">{{msg.get_text()}}</p>
                </div>

                {% if msg.getType() == 'text' %}
                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal{{loop.index}}">
                        Expand
                    </button>
                {% else %}
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#modal{{loop.index}}">
                        Expand
                    </button>
                {% endif %}
            </div>
            <div class="modal fade bd-example-modal-lg" id="modal{{loop.index}}" tabindex="-1" role="dialog" aria-labelledby="exampleModal{{loop.index}}" aria-hidden="true">
                <div class="modal-dialog modal-lg" role="document">
                    <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModal{{loop.index}}">{{msg.get_timestamp()}}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body modalText">
                        {% if msg.getType() == 'text' %}
                            {{msg.get_text()}}
                        {% else %}
                            <div id="container{{loop.index}}"></div>
                            <script>
                                renderjson.set_show_to_level("all");
                                document.getElementById("container{{loop.index}}").appendChild(
                                    renderjson(JSON.parse('{{msg.getJson()}}'))
                                );
                            </script>
                        {% endif %}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

</html>