<!DOCTYPE html>
<html>
<head>
<title>{{registration_no}}</title>
<meta name="theme-color" content="#4a85f9" />
<meta name="viewport" content="width=device-width, initial-scale=1">

<script src="https://cdn.rawgit.com/caldwell/renderjson/master/renderjson.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
body {
  background-color: #292b2c;
  color: white;
}

.modal-body {
    white-space: pre-wrap;
}
.renderjson a              { text-decoration: none; }
.renderjson .disclosure    { color: crimson;
                             font-size: 150%; }
.renderjson .syntax        { color: grey; }
.renderjson .string        { color: red; }
.renderjson .number        { color: cyan; }
.renderjson .boolean       { color: plum; }
.renderjson .key           { color: lightblue; }
.renderjson .keyword       { color: lightgoldenrodyellow; }
.renderjson .object.syntax { color: lightseagreen; }
.renderjson .array.syntax  { color: lightsalmon; }
</style>

<table class="table table-dark table-responsive">
    <thead>
    <tr>
        <th scope="col">Registartion Number</th>
        <th scope="col">Flight Number(IATA/ICAO)</th>
        <th scope="col">Airline</th>
        <th scope="col">Departure Airport</th>
        <th scope="col">Destination Airport</th>
        <th scope="col">First Seen</th>
        <th scope="col">Last Seen</th>
        <th scope="col">Gate in time</th>
        <th scope="col">Gate out time</th>
        <th scope="col">Wheels on time</th>
        <th scope="col">Wheels off time</th>
        <th scope="col">Number of received messages</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>{{registration_no}}</td>
        <td>{{flight_no}}/{{flight_no_icao}}</td>
        <td>{{airline}}</td>
        <td>{{departure_airport}}</td>
        <td>{{destination_airport}}</td>
        <td>{{first_seen}}</td>
        <td>{{last_seen}}</td>
        <td>{{gin}}</td>
        <td>{{gout}}</td>
        <td>{{won}}</td>
        <td>{{woff}}</td>
        <td>{{msg_no}}</td>
    </tr>
    </tbody>
</table>

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Plane position</h5>
                    <p class="card-text">Latitude: {{lat}} <br>
                        Longitude: {{lon}}<br>
                        Altitude: {{alt}} m<br>
                        Speed: {{speed}} km/h<br>
                        Heading {{hdg}}
                    </p>
                    <a class="btn btn-primary" target="_blank" href = "https://www.google.com/maps/search/?api=1&query={{lat}},{{lon}}">Show on map</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Meteo</h5>
                    <p class="card-text">Speed: {{m_speed}} km/h<br>
                        Direction: {{m_dir}}<br>
                        Temp: {{m_temp}}
                    </p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card text-white bg-dark mb-3" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">Messages</h5>
                    <p class="card-text">Messages in the last 8h: {{msg_last_8}}<br>
                        Total number of messages: {{msg_no}}
                    </p>
                    <a class="btn btn-primary" href = "/plane/{{registration_no}}/all">Show all</a>
                </div>
            </div>
        </div>
    </div>
    <div class = "row">
        {% for msg in messages %}
            {{msg.getHTMLMessage()}}
        {% endfor %}
    </div>
</div>

</html>